body {
margin-left: 105px;
margin-right:105px;
height:1200px;
text-align: center;
}

h3 {
  color: #cc00cc;
}

h6 {
  color: #cc00cc;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
}

#social-buttons {
  text-align: left;
}

img {
  border-radius: 20px;
}
