body {
margin-left: 105px;
margin-right:105px;
height:1200px;
text-align: center;
}

h3 {
  color: #cc00cc;
}

h6 {
  color: #cc00cc;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
}

#social-buttons {
  text-align: left;
}

img {
  border-radius: 20px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
