body {
  margin-left: 100px;
  margin-right: 50px;
}
h1 {
  font-weight: bold;
  font-size: 16px;
}
h3 {
  color: #cc00cc;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color:white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}

img {
  border-radius: 20px;
}
